{% extends "base.html" %}

{% block content %}
    <h1>Choose Columns to Keep</h1>
    <form method="post" action="{% url 'send_data' %}">
        {% csrf_token %}
        <div class="columns-container">
            {% for column in columns %}
                <div class="column-item">
                    <input type="checkbox" name="columns" value="{{ column }}" id="column_{{ forloop.counter }}">
                    <label for="column_{{ forloop.counter }}">{{ column }}</label>
                </div>
            {% endfor %}
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}