name: autoflake format

on: [push, pull_request]


jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: creyD/autoflake_action@v1.1
        with:
          options: --in-place --remove-all-unused-imports -r