name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@stable

      - uses: creyD/autoflake_action@v1.1
        with:
        options: --in-place --remove-all-unused-imports -r