name: Docker Build and Push

on:
  push:
    branches: [ generator ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ generator ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}


jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 10s
          --health-retries 5

      middleware:
        image: ghcr.io/engineering-research-and-development/synthetic-data-generator:middleware
        ports:
          - "8001:8001"
        env:
          db_host: postgres
          db_name: postgres
          db_password: postgres
          db_username: postgres
          INIT_DB: True
          allowed_origins: '*'

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build Docker image
      run: |
        docker build -t test-container src/generator

    - name: Run the Docker container
      run: |
        docker run -d --network ${{ job.services.middleware.network }} \
          -e MIDDLEWARE_URL="http://middleware:8001/" \
          -p 8010:8010 \
          --name test-container test-container
          

    - name: Wait the container to be up and running
      run: |
        sleep 10

    - name: Check container status
      run: |
        if ! docker inspect test-container >/dev/null 2>&1; then
         echo "Container does not exist."
         exit 1
        fi

        STATUS=$(docker inspect --format='{{.State.Status}}' test-container)

        if [ "$STATUS" != "running" ]; then
         echo "Container is not running. Status: $STATUS"
         echo "==== Container Logs ===="
         docker logs test-container  # Print logs for debugging
         exit 1  # Fail the pipeline
        fi

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true

    - name: Install dependencies
      run: |
        uv venv
        uv pip install -r src/generator/requirements.txt
        uv pip install pytest

    - name: Run GENERATOR tests
      run: uv run pytest src/generator/ai_lib/test/

    - name: Run SERVER tests
      run: uv run pytest src/generator/server/test

    - name: Run SERVER integration tests
      run: uv run pytest src/generator/test

    - name: Stop and remove container
      run: |
        docker stop test-container
        docker rm test-container
  

  build:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./src/generator
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
